[Desktop Entry]
{% if group_names is search("laptop") %}
Name=Zotero reference manager
GenericName={{ zotero.remote }}
# run the Zotero XDG launcher on bahrain
# https://askubuntu.com/a/385169
# This way we circumvent the lack of BAY on the laptop itself
Exec=ssh -X {{ zotero.remote }} "gtk-launch zotero"
{% else %}
Name=Zotero
GenericName=Reference manager
Exec={{ zotero.dir.working }}/zotero -url %U
{% endif %}
Comment=Collect, organise, cite and share your research sources
Icon={{ desktop_icon.dest }}
Type=Application
Terminal=false
Categories=Office;
MimeType={{ zotero_mimetypes | join(";") }}
X-GNOME-SingleWindow=true
Keywords=zotero;research;references;manager;library;bibliography;
